* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#header {
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	background-color: teal;
	/*box-shadow: 3px 6px 4px black;*/
	text-align: center;
	display: inline-block;
	width: 100%;
	border: 2px solid black;
}
#container {
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2.5em;
	border-bottom-right-radius: 2.5em;
	width: 50%;
	margin: 0px auto;
	background-color: green;
	/*box-shadow: 3px 6px 4px black;*/
	border: 2px solid black;
}
#password-form-container {
	clear: both;
	display: block;
	background-color: #6FF2B0;
	padding: 20px;
	width: 100%;
	margin: auto;
	/*box-shadow: 3px 6px 4px black;*/
	border: 2px solid black;
}
#password-status {
	display: inline-block;
	width: 100%;
	background-color: lightblue;
}
#statusbar {
	display: inline-block;
	width: 100%;
	background-color: gray;
	border: 2px solid black;
}
#easy-to-remember {
	border: 2px solid black;
}
#password-container {
	display: inline-block;
	width: 100%;
	background-color: pink;
	padding: 20px;
	text-align: center;
	font-size: 1.2em;
	font-family: Trebuchet;
	border: 2px solid black;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}
#password {
	background-color: blue;
	display: inline-block;
	color: white;
	text-align: center;
	padding:5px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
#password:hover {
	background-color: darkgreen;
}
input {
	padding: 5;
}
.label {
	margin: 10px;
}